@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0c22;
  background-image: radial-gradient(circle at 1px 1px, rgba(0, 245, 195, 0.1) 1px, transparent 0);
  background-size: 20px 20px;
  color: #e0e0e0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  .glassmorphism-card {
    @apply bg-gray-900 bg-opacity-50 backdrop-filter backdrop-blur-lg border border-gray-700 border-opacity-30 rounded-xl shadow-lg;
  }
}
